/* general */

body {
	font-family: "Roboto";
	background-color: #eee;
	padding: 40px;
}

#login-input:focus,
#m:focus {
	outline: none;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

::-moz-selection {
	color: #000;
	background: #ccc;
}

::selection {
	color: #000;
	background: #ccc;
}

/* login display */

#login-center {
	display: block;
	position: relative;
	top: 35vh;
}

#login-text {
	display: block;
	position: relative;
	font-size: 50px;
	text-align: center;
}

#login {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 3vh;
}

/* login input*/

#login-input {
	border: none;
	border-bottom: 1px solid black;
	font-size: 20px;
	padding-bottom: 4px;
	text-align: center;
	background-color: rgba(102, 163, 177, 0);
}

/* chat display */

#chatbox {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80%;
	max-width: 600px;
	height: 60%;
	border-radius: 4px;
}

#messages {
	list-style-type: none;
	width: 100%;
	height: calc(100% - 60px);
	top: 0;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
}

/* remove scrollbar */

#messages::-webkit-scrollbar {
	width: 0 !important;
}

#messages {
	-ms-overflow-style: none;
}

#messages li {
	font-size: 16px;
	word-wrap: break-word;
}

/* chat input */

#before {
	color: #fff;
	font-size: 16px;
	width: 5%;
}

#typeform,
#m,
#user-count {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	}

#typeform {
	display: block;
	position: relative;
	bottom: 0%;
	width: 100%;
	padding: 20px;
	height: 60px;
}

#m {
	display: inline;
	width: 70%;
	border: none;
}

#user-count {
	position: relative;
	float: right;
	width: 25%;
	max-width: 76px;
	text-align: right;
}

.user {
	font-weight: 700;
	margin-bottom: 2px;
}

.single-message {
	margin-bottom: 10px;
}

/* background */

#back {
	position: fixed;
}